{% extends 'ani/layout.html' %}
{% block title %}Episodes{% endblock %}
{% block content %}
    <h2>{{ ani.title }}</h2>
    <a href="{{ url_for('ani.episodes_podcast', animation_id=ani.id) }}">Podcast</a>
    <ul>
    {%- for ep in ani.episodes %}
        <li>
            <a href="{{ url_for('ani.episode_view', animation_id=ani.id, ep_num=ep.ep_num) }}">
                {{- ep.ep_num }}화{% if ep.hasSync() %} 자막 있음{% endif -%}
            </a>
        </li>
    {%- endfor %}
    </ul>
{% endblock %}
