{% extends 'ani/layout.html' %}
{% block title %}Main{% endblock %}
{% block content %}
    <h2>애니 목록</h2>
    <ul>
    {%- set week_cur = -1 -%}
    {%- set week_match = ['월', '화', '수', '목', '금', '토', '일'] -%}
    {%- for item in anilist -%}
        {%- if week_cur != item.week -%}
            {%- set week_cur = item.week %}
        <li>
            <h3>{{ week_match[week_cur] }}</h3>
            <ul>
        {%- endif %}
                <li>
                    <a href="{{ url_for('ani.episodes', animation_id=item.id) }}">{{ '[완결] ' if not item.activate }}{{ item.title }}</a>
                </li>
        {%- if loop.last or week_cur != anilist[loop.index].week %}
            </ul>
        </li>
        {%- endif -%}
    {% endfor %}
    </ul>
{% endblock %}
