{% extends 'ani/layout.html' %}
{% block title %}Register{% endblock %}
{% block content %}
    <h2>애니메이션 등록</h2>
    <form method="POST">
        <input name="title" type="text" placeholder="제목"/>
        <input name="query" type="text" placeholder="검색어"/>
        <input name="sync_index" type="text" placeholder="애니시아 애니번호"/>
        <select name="week">
            <option value="0">월</option>
            <option value="1">화</option>
            <option value="2">수</option>
            <option value="3">목</option>
            <option value="4">금</option>
            <option value="5">토</option>
            <option value="6">일</option>
        </select>
        <input type="submit"/>
    </form>
{% endblock %}
